%div.text-center
  %p
    Website created by
  %p
    %h3 Tobias Wermuth
  %div
    %a{:href => "https://github.com/tobynextdoor", :target => "_blank"}
      %img{:src => image_url('flaticon/github-sign.png'), :style => "max-width: 26px;"}
    %a{:href => "https://www.linkedin.com/profile/preview?locale=de_DE&trk=prof-0-sb-preview-primary-button", :target => "_blank"}
      %img{:src => image_url('flaticon/linkedin-sign.png'), :style => "max-width: 26px;"}
  %p.section
    Icons made by
    %a{:href => "http://www.flaticon.com/authors/dave-gandy", :title => "Dave Gandy"} Dave Gandy
    from
    %a{:href => "http://www.flaticon.com", :title => "Flaticon"} www.flaticon.com
    is licensed by
    %a{:href => "http://creativecommons.org/licenses/by/3.0/", :target => "_blank", :title => "Creative Commons BY 3.0"} CC 3.0 BY
