%a.center.btn.btn-lg.btn-success.center-block{:href => "/user/#{@user.id}/#{@user.secret}", :style => "width:200px;"} Continue
%p
%a.center.btn.btn-sm.btn-danger.center-block{:href => "/user/#{@user.id}/#{@user.secret}/delete", :style => "width:200px;"} Delete all user data
