.text-center
  Info: SpotiTag does not work on mobile! All tags have to be separated by a whitespace.
%p
%a.center.btn.btn-lg.btn-success.center-block{:href => "/user/#{@user.id}/#{@user.secret}", :style => "width:200px;"} Continue
%p
%a.center.btn.btn-sm.btn-danger.center-block{:href => "/user/#{@user.id}/#{@user.secret}/delete", :style => "width:200px;"} Delete Me
