.text-center
  %h1 Welcome to SpotiTag!
  %h5 Create responsive, creative and personal playlist on-the-fly with simple Tags!
  %p
  %a.btn.btn-lg.btn-success.center-block{:href => "/auth/spotify", :style => "width:200px;"} Login with Spotify

